@model PhotoItemViewModel

<form asp-action="AddPhoto" method="post" enctype="multipart/form-data">
    <label asp-for="Title"><strong>Add new photo:</strong></label><br />  @* Move strong to css *@
    <input asp-for="PhotoFile" /> <br />
    <input asp-for="Title" value="Your photo title" /><br />
    <input asp-for="Description" value="Your photo description" /><br />
    <input asp-for="Tags" value="Your photo tags" /><br />
    <button type="submit">Add</button><br />
</form>