@*Bootstrap v4.3.1 (https://getbootstrap.com/)*@

@model PhotoViewModel

@{
    ViewData["Title"] = "My photo gallery";
}

<h2 class="text-center">My photo gallery</h2>
<br />


@foreach (var photo in Model.Photos)
{
    <a href='@Url.Action("Index", "PhotoDetails", photo)'>
        <img src="@photo.UrlToThumbnail" class="img-thumbnail"/>
    </a>
}

<br />
<br />

<div class="panel-footer add-photo-form">
    @await Html.PartialAsync("_AddPhotoPartial", new PhotoItemViewModel())
</div>