@model PhotoViewModel

@{ 
    ViewData["Title"] = "My photo gallery";
} 

<div class="panel panel-default photo-panel">
    
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Photo</td>
                <td>Title</td>
                <td>Description</td>
                <td>Tags</td>
            </tr>
        </thead>

        @foreach (var item in Model.Photos)
	    {
		    <tr>
                <td>@item.Photo</td>
                <td>@item.Title</td>
            </tr>
	    }

    </table>

</div>