@model PhotoItemViewModel

@{
    ViewData["Title"] = "Photo details";
}

<h2>@Model.Title</h2>
<label><strong>Description: &nbsp</strong></label>@Model.Description <br />
<label><strong>Tags: &nbsp </strong></label>@Model.Tags <br />
<img src="@Model.UrlToImage" />



