@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to photo gallery!</h2>
    <br />
    <p>
        Finally you can have all your photos in one place. <br />
        No worries about fussy options and complicated configuration. <br />
        Simply enjoy pleasure of storing and reviewing your favourite pictures. <br />
        It has never been made easier.
    </p> 
</div>
