@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h2>Privacy policy</h2>
    <br />
    <p>
        Please be informed that we offer no privacy protection. <br />
        At the moment of upload you agree to transfer all picture rights to our company. <br />
        We are entitled to use your pictures in advertisements etc. <br />
        Sorry for the inconveniance, we need to earn for living too.
    </p>
</div>
