@*Bootstrap v4.3.1 (https://getbootstrap.com/)*@

@model PhotoGalleryViewModel

@{
    ViewData["Title"] = "My photo gallery";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />

@if (Model.Photos.Count() == 0)
{
    <h4 class="text-center">Your gallery is empty.</h4>
}
else
{
    @foreach (var photo in Model.Photos)
    {
        <a href='@Url.Action("Index", "PhotoDetails", photo)'>
            <img src="@photo.UrlToThumbnail" class="img-thumbnail" />
        </a>
    }
}

<br />
<br />

<div class="panel-footer add-photo-form">
    @await Html.PartialAsync("_AddPhotoPartial", new PhotoItemViewModel())
</div>